<section>
  <div class="page-header">
    <h1>Shopping Lists</h1>
  </div>
  <div class="list-group">
    <span ng-repeat="list in vm.lists"
       class="list-group-item">
    <a class="btn btn-primary pull-right" ng-click="vm.elim(list)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a class="btn btn-primary pull-right" ui-sref="lists.view({ listId: list._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
      <h4 style="color:{{list.color}}" class="list-group-item-heading" ng-bind="list.name"></h4>
      <h6 class="list-group-item-heading" ng-bind="list.color"></h6>
    </span>    
        <a href="/lists/create" class="btn btn-default" style="position:absolute; top:75px; right:60px; color:black;"
      >Add a Shopping List</a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.lists.$resolved && !vm.lists.length">
    No Lists yet, why don't you <a ui-sref="lists.create">create one</a>?
  </div>
</section>